<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app_coffee2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CartApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".Activity.shipper.OrderDetailShipperActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.HistoryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.AddNewProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.AdminDetailProduct"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.AdminProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.HistoryOrderUser"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.DetailAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.AdminAccountAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activity.admin.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ResetPasswordStep2"
            android:exported="false" />
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProductbyCateorFlavorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Product_Activity"
            android:exported="true" >
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"/>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".Activity.shipper.OrderShiperActivity"
            android:exported="false"/>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>